body {
    background-color: #191b28;
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

span, p{
    text-align: center;
    color: beige !important;
}

.Option-select {
    text-align: left;
    font-size: large;
    cursor: default;
}

h2 {
    text-align: center;
    background-color: transparent;
    color: beige;
    border: solid 2px #336e67;
    border-radius: 25px;
    width: 40%;
    height: 6%;
    margin: auto;
}

h3 {
    text-align: center;
    background-color: transparent;
    color: beige;
    border: solid 2px #336e67;
    border-radius: 25px;
    width: 48%;
    height: 6%;
    font-size: large;
    margin: auto;
}

h1 {
    background-color: transparent;
    color: beige;
    border-radius: 25px;
    width: 40%;
    height: 80%;
    margin: auto;
    transform-style: preserve-3d;
}

h1:hover {
    cursor: pointer;
    transform-style: preserve-3d;
    animation: flip 3s ease-in-out infinite;
}

@keyframes flip {
    0% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(180deg);
    }
    100% {
      transform: rotateX(360deg);
    }
}

#amount {
    font-size: 130%;
    bottom: -20px;
    color: #64a388 !important;
}

.options {
    border: solid 2px black;
    border-radius: 15px;
    border-color: #336e67;
    width: 25%;
    height: 50%;
    margin: auto;
    box-shadow: 0px 18px 24px 18px rgba(0, 0, 0, 0.9);
}

.Container {
    text-align: center;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 150vh;
    padding: 15px;
    border-left-width: 25px;
    border: solid 2px;
    border-color: #336e67;
    border-radius: 25px;
    box-shadow: -36px 32px 14px 1px rgba(0, 0, 0, 0.8);
}

.mostrecent-list {
    text-align: center;
    margin: auto;
    position: absolute;
    width: 30%;
    height: 40%;
    padding: 5px;
    font-size: small;
    right: 12%;
    top: 15%;
    cursor: default;
}

#MRcopyBtn1, #MRcopyBtn2, #MRcopyBtn3, #MRcopyBtn4, #MRcopyBtn5 {
    width: 5%;
    height: 7%;
    padding: 4px;
    position: absolute;
    border-radius: 15px;
    border: solid 2px;
    outline-style: none;
    outline-color: none;
    background-color: transparent;
    color: #9fd3c7;
    cursor: pointer;
    right: 16%;
    transition: 0.2s ease-in-out;
}

#MRcopyBtn1:hover, #MRcopyBtn2:hover, #MRcopyBtn3:hover, #MRcopyBtn4:hover, #MRcopyBtn5:hover {
    width: 5%;
    height: 7%;
    padding: 4px;
    border-radius: 10px;
    border: solid 2px;
    outline-style: none;
    outline-color: none;
    background-color: transparent;
    color: #336e67;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#MRdeleteBtn1, #MRdeleteBtn2, #MRdeleteBtn3, #MRdeleteBtn4, #MRdeleteBtn5 {
    width: 5%;
    height: 7%;
    padding: 4px;
    position: absolute;
    border-radius: 15px;
    border: solid 2px black;
    outline-style: none;
    outline-color: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    right: 9%;
    transition: 0.2s ease-in-out;
}

#MRdeleteBtn1:hover, #MRdeleteBtn2:hover, #MRdeleteBtn3:hover, #MRdeleteBtn4:hover, #MRdeleteBtn5:hover {
    width: 5%;
    height: 7%;
    padding: 4px;
    position: absolute;
    border-radius: 15px;
    border: solid 2px black;
    outline-style: none;
    outline-color: none;
    background-color: #d70000;
    color: black;
    cursor: pointer;
    right: 9%;
    transition: 0.2s ease-in-out;
}

#Fpass1, #Fpass2, #Fpass3, #Fpass4, #Fpass5 {
    margin: auto;
    border-color: #336e67;
    position: absolute;
    right: 23.5%;
    background-color: transparent;
    color: transparent;
    text-align: center;
    width: 50%;
    padding: 5px;
    outline-style: none;
    outline-color: none;
    border-radius: 10px;
    cursor: default;
    color: #f9f9ed;
    box-shadow: -18px 20px 14px 2px rgba(0, 0, 0, 0.8);
}

.ApplyPass {
    text-align: center;
    margin: auto;
    position: absolute;
    width: 30%;
    height: 40%;
    padding: 5px;
    font-size: small;
    left: 10%;
    top: 15%;
    cursor: default;
}

#AppliedPass {
    margin: auto;
    border-color: #336e67;
    position: absolute;
    right: 23.5%;
    background-color: transparent;
    color: transparent;
    text-align: center;
    width: 50%;
    padding: 5px;
    outline-style: none;
    outline-color: none;
    border-radius: 10px;
    cursor: default;
    color: #f9f9ed;
    text-overflow: ellipsis;
    box-shadow: -18px 20px 14px 2px rgba(0, 0, 0, 0.8);
}

#AppliedPassBtn {
    width: 5%;
    height: 7%;
    padding: 4px;
    position: absolute;
    border-radius: 15px;
    border: solid 2px;
    outline-style: none;
    outline-color: none;
    background-color: transparent;
    color: #18cab5;
    cursor: pointer;
    right: 16%;
    transition: 0.2s ease-in-out;
}

#AppliedPassBtn:hover {
    width: 5%;
    height: 7%;
    padding: 4px;
    border-radius: 10px;
    border: solid 2px;
    outline-style: none;
    outline-color: none;
    background-color: transparent;
    color: #3adb09;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#DeletePastedPassBtn {
    width: 5%;
    height: 7%;
    padding: 4px;
    position: absolute;
    border-radius: 15px;
    border: solid 2px black;
    outline-style: none;
    outline-color: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    right: 9%;
    transition: 0.2s ease-in-out;
}

#DeletePastedPassBtn:hover {
    width: 5%;
    height: 7%;
    padding: 4px;
    position: absolute;
    border-radius: 15px;
    border: solid 2px black;
    outline-style: none;
    outline-color: none;
    background-color: #d70000;
    color: black;
    cursor: pointer;
    right: 9%;
    transition: 0.2s ease-in-out;
}

#display {
    text-align: center;
    padding: 8px;
    width: 18%;
    height: 7%;
    border: solid 2px;
    outline-style: none;
    outline-color: none;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    background-color: transparent;
    color: #f9f9ed;
    border-color: #336e67;
    cursor: default;
    text-overflow: ellipsis;
    box-shadow: -9px 10px 14px 2px rgba(0, 0, 0, 0.8);
}

#copyBtn {
    width: 2.5%;
    height: 5%;
    padding: 6px;
    border-radius: 10px;
    border: solid 2px;
    outline-style: none;
    outline-color: none;
    background-color: transparent;
    color: #9fd3c7;
    cursor: pointer;
}

#copyBtn:hover {
    width: 2.5%;
    height: 5%;
    padding: 6px;
    border-radius: 10px;
    border: solid 2px;
    outline-style: none;
    outline-color: none;
    background-color: transparent;
    color: #336e67;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#resetBtn {
    width: 22%;
    height: 5%;
    position: relative;
    top: 10px;
    padding: 6px;
    border-radius: 10px;
    border: solid 2px;
    outline-style: none;
    outline-color: none;
    background-color: transparent;
    color: #9fd3c7;
    cursor: pointer;
    box-shadow: -9px 10px 14px 2px rgba(0, 0, 0, 0.8);
}

#resetBtn:hover {
    width: 22%;
    height: 5%;
    padding: 6px;
    top: 9px;
    border-radius: 10px;
    border: solid 2px;
    outline-style: none;
    outline-color: none;
    background-color: transparent;
    color: #336e67;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: -9px 6px 14px 2px rgba(0, 0, 0, 0.8);
}

#generateBtn {
    width: 7%;
    height: 14%;
    padding: 8px;
    border-radius: 10px;
    border: solid 2px;
    outline-style: none;
    outline-color: none;
    background-color: transparent;
    color: #9fd3c7;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 16px 14px 2px rgba(0, 0, 0, 0.8);
}

#generateBtn:hover {
    width: 3%;
    height: 6%;
    padding: 6px;
    border-radius: 10px;
    border: solid 2px;
    outline-style: none;
    outline-color: none;
    background-color: transparent;
    color: #336e67;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.inputRange {
    -webkit-appearance: none;
    width: 15%;
    height: 20px;
    background-color: transparent;
    border: solid 2px;
    border-color: #385170;
    border-radius: 25px;
    margin: 20px 0;
    box-shadow: -9px 10px 14px 2px rgba(0, 0, 0, 0.8);
}
  
.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: rgb(10, 240, 209);
    border-radius: 5px;
    cursor: pointer;
}

#uppercaseLet, #lowercaseLet, #numbers, #symbols {
    cursor: pointer;
    color: beige;
}

.switch {
    color: beige;
    margin: auto;
    align-items: center;
}

input[type="checkbox"] {
    position: relative;
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    background: #dcdcdc;
    outline: none;
    border-radius: 25px;
    transition: .3s;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    bottom: -10px;
}

input:checked[type="checkbox"] {
    background-color: #336e67;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    background: #336e67;
    transform: scale(1.1);
    box-shadow: 0 2px 5px (0,0,0,0.2);
    transition: .3s;
}

input:checked[type="checkbox"]:before {
    left: 25px;
    background: #dcdcdc;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.switch {
    color: beige;
    font-size: 110%;
}

::placeholder {
    color: #999999;
}

.password-strength {
    display: inline-block;
    padding-left: 20px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 40%;
    color: rgb(10, 240, 209);
}
